.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-form {
  background-color: var(--idx-black);
  border-color: var(--border);
  border-width: 1px;
  border-style: solid;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--secondary);
  }
  
  .form-group {
    margin-bottom: 1rem;
    
    label {
      color: var(--secondary);
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }
  
  button {
    width: 100%;
    margin-top: 1rem;
  }
}

.auth-divider {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  
  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
  }
  
  span {
    padding: 0 10px;
    font-size: 0.9rem;
  }
}

.auth-link {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  
  a {
    color: #ff6358;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}